<ion-header>

</ion-header>

<ion-content>

  
</ion-content>
<ion-tab-bar color="light">
  <!-- Botón Menú -->
  <ion-tab-button tab="1">
    <ion-icon name="home" routerLink="/main"></ion-icon>
    <ion-label>Menú</ion-label>
    <ion-badge color="danger"></ion-badge>
  </ion-tab-button>

  <!-- Botón Reportes -->
  <ion-tab-button tab="2">
    <ion-icon name="document-text" routerLink="/reportes"></ion-icon>
    <ion-label>Reportes</ion-label>
    <ion-badge color="danger"></ion-badge>
  </ion-tab-button>

  <!-- Botón Estadísticas -->
  <ion-tab-button tab="3">
    <ion-icon name="stats-chart" routerLink="/estadisticas"></ion-icon>
    <ion-label>Estadísticas</ion-label>
  </ion-tab-button>

  <!-- Botón Notificaciones -->
  <ion-tab-button tab="4">
    <ion-icon name="notifications" routerLink="/notificaciones"></ion-icon>
    <ion-label>Notificaciones</ion-label>
  </ion-tab-button>
</ion-tab-bar>