<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reportes de Perritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" color="danger" routerLink="/reportar-perdido">
    Reportar perrito perdido
  </ion-button>

  <ion-button expand="block" color="warning" routerLink="/reportar-celo">
    Reportar perrita en celo
  </ion-button>

  <ion-button expand="block" color="medium" routerLink="/reportar-basura">
    Reportar basura acumulada
  </ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Reportes recientes</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        🐶 Perrito perdido visto en la plaza principal
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        ♀️ Perrita en celo en zona mercado Campesino
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        🗑️ Basura acumulada en la Av. Circunvalación
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>