<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reportes de Perritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" color="danger" routerLink="/reportar-perdido">
    Reportar perrito perdido
  </ion-button>
  
  <ion-button expand="block" color="warning" routerLink="/reportar-celo">
    Reportar perrita en celo
  </ion-button>
  
  <ion-button expand="block" color="medium" routerLink="/reportar-basura">
    Reportar basura acumulada
  </ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Reportes recientes</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        🐶 Perrito perdido visto en la plaza principal
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        ♀️ Perrita en celo en zona mercado Campesino
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        🗑️ Basura acumulada en la Av. Circunvalación
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-tab-bar color="light">
  <!-- Botón Menú -->
  <ion-tab-button tab="1" >
    <ion-icon name="home" routerLink="/main" color="primary"></ion-icon>
    <ion-label>Menú</ion-label>
    <ion-badge color="danger"></ion-badge>
  </ion-tab-button>

  <!-- Botón Reportes -->
  <ion-tab-button tab="2">
    <ion-icon name="document-text" routerLink="/reportes"></ion-icon>
    <ion-label>Reportes</ion-label>
    <ion-badge color="danger"></ion-badge>
  </ion-tab-button>

  <!-- Botón Estadísticas -->
  <ion-tab-button tab="3">
    <ion-icon name="stats-chart" routerLink="/estadisticas"></ion-icon>
    <ion-label>Estadísticas</ion-label>
  </ion-tab-button>

  <!-- Botón Notificaciones -->
  <ion-tab-button tab="4">
    <ion-icon name="notifications" routerLink="/notificaciones"></ion-icon>
    <ion-label>Notificaciones</ion-label>
  </ion-tab-button>
</ion-tab-bar>